<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!--SECCION SOBRE MI-->
    <section id="sobremi" class="sobremi">
        <br><br>
        <div class="contenido-seccion">
            <h2>Sobre Mi</h2>
            <p><span>Hola, soy William Villacrez.</span> Ingeniero Geógrafo con experiencia en la resolución de problemas mediante herramientas de Sistemas de Información Geográfica (SIG), abarcando desde la recopilación y análisis hasta la visualización de datos espaciales. He trabajado con herramientas como **ArcGIS Pro, Arcgis Online, QGIS, Postgres, Geoserver** y lenguajes de programación como **Python** para transformar datos geoespaciales en información valiosa y accionable.
            Mi pasión por la creación de soluciones innovadoras me ha llevado a expandir mis habilidades hacia el **desarrollo web**, adquiriendo conocimientos en **HTML, CSS y JavaScript**. Esta combinación de habilidades me permite abordar desafíos geoespaciales desde múltiples ángulos, integrando tecnología, análisis y visualización para generar insights significativos.
            Estoy siempre en busca de oportunidades donde pueda aplicar mi experiencia en SIG, análisis de datos y desarrollo web para descubrir nuevas formas de utilizar los datos geoespaciales y aportar soluciones que marquen una diferencia.</p>

            <div class="fila">
                <!--datos personales-->
                <div class="col">
                    <h3>Datos Personales</h3>
                    <ul>
                        <li>
                            <strong>Cumpleaños</strong>
                            26-08-1989
                        </li>
                        <li>
                            <strong>Telefono</strong>
                            +51 991707936
                        </li>
                        <li>
                            <strong>Website</strong>
                            www.william-villacrez.com
                        </li>
                        <li>
                            <strong>Direccion</strong>
                            Lima - Peru
                        </li>
                        <li>
                            <strong>Cargo</strong>
                            <span>FREELANCE</span>
                        </li>
                    </ul>

                </div>

                <!--intereses-->
                <div class="col">
                    <h3>Intereses</h3>
                    <div class="contenedor-intereses">
                        <div class="intereses">
                            <i class="fa-solid fa-gamepad"></i>
                            <span>LEER</span>
                        </div>
                        <div class="intereses">
                            <i class="fa-solid fa-headphones"></i>
                            <span>MUSIC</span>
                        </div>
                        <div class="intereses">
                            <i class="fa-solid fa-plane"></i>
                            <span>VIAJAR</span>
                        </div>
                        <div class="intereses">
                            <i class="fa-brands fa-apple"></i>
                            <span>ONE PIECE</span>
                        </div>
                        <div class="intereses">
                            <i class="fa-solid fa-heart"></i>
                            <span>FUTBOL</span>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br>
        </div>
    </section>
</body>
</html>