<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!--SECCION CONTACTO-->
    <section id="contacto" class="contacto">
        <div class="contenido-seccion">
            <h2>CONTACTO</h2>
            <div class="fila">
                <!--Formulario-->
                <div class="col">
                    <input type="text" placeholder="Tu nombre">
                    <input type="text" placeholder="Numero telefonico">
                    <input type="text" placeholder="Direccion de correo">
                    <input type="text" placeholder="Tema">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                    <button>
                        Enviar Mensaje<i class="fa-solid fa-paper-plane"></i>
                        <span class="overlay"></span>
                    </button>
                </div>
                <!--Mapa-->
                <div class="col">
                    <img src="img/ubicacion.png" alt="">
                    <div class="info">
                        <ul>
                            <li>
                                <i class="fa-solid fa-location-dot"></i>
                                Lima-Peru
                            </li>
                            <li>
                                <i class="fa-solid fa-mobile-screen-button"></i>
                                Llamanos: 2384 - 4343443
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope"></i>
                                Email: william.villacrez89@gmail.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>