<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <section id="curriculum" class="curriculum">
        <div class="contenido-seccion">
            <h2>Curriculum</h2>
            <div class="fila">
                <div class="col izquierda">
                    <h3>Educacion</h3>
                    <div class="item izq">
                        <h4>Ingenieria Geografica</h4>
                        <span class="casa">Universidad Nacional Mayor de San Marcos</span>
                        <span class="fecha">2008 - 2012</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Ut hendrerit lacinia ultricies. Maecenas id dui vitae dui finibus dictum sodales et ante. 
                            Praesent ac dictum lorem. Etiam quam diam, varius ac efficitur id, pulvinar eu est.</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq">
                        <h4>Master GIS</h4>
                        <span class="casa">ESRI España</span>
                        <span class="fecha">2019 - 2020</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Ut hendrerit lacinia ultricies. Maecenas id dui vitae dui finibus dictum sodales et ante. 
                            Praesent ac dictum lorem. Etiam quam diam, varius ac efficitur id, pulvinar eu est.</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq">
                        <h4>Especialización en Desarrollo Web</h4>
                        <span class="casa">Universidad Continental</span>
                        <span class="fecha">Febrero 2024 - 2024</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Ut hendrerit lacinia ultricies. Maecenas id dui vitae dui finibus dictum sodales et ante. 
                            Praesent ac dictum lorem. Etiam quam diam, varius ac efficitur id, pulvinar eu est.</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                </div>
                <div class="col derecha">
                    <h3>Experiencia de trabajo</h3>
                    <div class="item der">
                        <h4>Especialista GIS</h4>
                        <span class="casa">Gtd Peru</span>
                        <span class="fecha">2020 - 2024</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Ut hendrerit lacinia ultricies. Maecenas id dui vitae dui finibus dictum sodales et ante. 
                            Praesent ac dictum lorem. Etiam quam diam, varius ac efficitur id, pulvinar eu est.</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                    <div class="item der">
                        <h4>Analista GIS</h4>
                        <span class="casa">Ayesa - Estudios Territoriales</span>
                        <span class="fecha">Diciembre 2019 - Julio 2020</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Ut hendrerit lacinia ultricies. Maecenas id dui vitae dui finibus dictum sodales et ante. 
                            Praesent ac dictum lorem. Etiam quam diam, varius ac efficitur id, pulvinar eu est.</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>